@font-face {
    font-family: 'nanum';
    src: url(../font/NanumSquareR.woff);
}

div,
input,
textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'nanum';
    transform: rotate(0.03deg);
}

.main-background {

    background-image: linear-gradient(#3394D5, #4013A9);
    padding: 20px;
    height: 550px;
}
.main-container {
    margin: auto;
    max-width: 1200px;
}

.main-title {
    color: white;
    float: left;
    margin-top: 100px;
}

.main-img {
    float: right;
    width: 400px;
    margin-top: 95px;
}

p {
    font-size: 15px;
}

.main-button {
    background-color: #313131;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.main-button:hover {
    background-color: black;
}

.main-button:active {
    background-color:#3394D5;
    color: #313131
}

.middle-container {
    text-align: center;
    margin: 100px;
}

.iconbox-container {
    background-color: #4013A9;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.iconbox-wrap {
    display: flex;
    margin: auto;
    width: 60%;
}

.iconbox {
    width: 25%;
    text-align: center;
}

.iconbox i {
    color: #4013A9;
    background-color: white;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-top: 30px;
}

.portfolio-container {
    padding: 50px;
}

.portfolio-menuwrap {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0px solid white;
}
.portfolio-menuwrap div {
    width: 50%;
    display: block;
    float: left;
    height: 250px;
    color: white;
    /* padding: 10px; */
}
.portfolio-text {
    padding: 20px;
}
.white-box:hover {
    border: 30px soild white;
}
/* .portfolio-menuwrap div:hover {
    border: white solid 10px;
    transition: all 1s;
} */

.portfolio-menu1 {
    background-image: url(../img/portfolio-1.jpg);
}

.portfolio-menu2 {
    background-image: url(../img/portfolio-2.jpg);
}

.portfolio-menu3 {
    background-image: url(../img/portfolio-3.jpg);
}

.portfolio-menu4 {
    background-image: url(../img/portfolio-4.jpg);
}

.snsicon-container {
    text-align: center;
}

.snsicon-wrap {
    display: flex;
    margin: auto;
    width: 25%;
    max-width: 250px;
}

.snsicon {
    float: left;
    padding: 15px;
    width: 33.3%;
}

.snsicon i {
    background-color: #3394D5;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    padding-top: 13px;
    margin-top: 10px;
    box-sizing: border-box;
}

.snsicon i:hover {
    color: white;
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    .main-title {
        float: none;
        text-align: center;
        margin: auto;
    }
    .main-background {
        position: relative;
    }

    .main-img {
        float: none;
        margin: auto;
        width: 250px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
    }

    .portfolio-menuwrap div{
        float: none;
        width: 100%;
    }
}